.spam, .spam > .entry {
 background:#FA8072!important;
}

.comments-page > .content, .listing-page > .content  {
 margin-right:312px;
}

.comment {
 border:1px solid!important;
 border-color:#aba592!important;
 border-radius:5px!important;
 background:#ffffff;
 padding:2px!important;
 margin-bottom:4px!important;
}

.content > .sitetable > .comment,
.commentarea > .sitetable > .comment,
.commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment,
.commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment,
.commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment,
.commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment
 {background:#f7f3ec!important}

.commentarea > .sitetable > .comment {
    margin-bottom:10px!important;
}

.commentarea .entry {
    padding-right:5px!important;
}

.new-comment .usertext-body {
    background:#f0e4ce;
}

.spam {
    background:#FA8072!important;
}