a[href="#somad"], a[href="#trollin"],a[href="#WAHAHAHA"]{
    background: url(%%vnsprites%%);
    content: "";
    font-size: 0 !important;
    cursor: default;
    display: inline-block;
    margin: 0 2px;
}
a[href="#somad"]{
    background-position:-2px -258px; width:137px; height:103px;
}
a[href="#trollin"]{
    background-position:-2px -162px; width:105px; height:94px;
}
a[href="#WAHAHAHA"]{
    background-position:-109px -170px; width:79px; height:85px;
}