.content, .subreddit-rules-page {
 margin-top:160px;
}

.side .md h4:nth-of-type(1) {
	font-size: 1em;
    position: absolute;
    background:none;
    display: block;
    top: 218px; /* for 150px header */
    left: 0.5em; 
    width:calc(100% - 305px - 1em);
}

.side .md h4 a {
	position: absolute;
    display: inline-block;
    width: $top-links-width;
    height: 6em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border:solid .1em #3e3723;
    border-radius: .5em;
	color: transparent; /* font fix */
	margin-left: 0.5em;
}

.side .md h4 a:hover:before{
	content: '';
	display:block;
	position:absolute;
	top:0;bottom:0;left:0;right:0;
	
	background: rgba(10,40,70,0.5);
	color: #fff;
	text-shadow: -.125em -.125em .25em rgba(0,0,0,0.7), .125em .125em .25em rgba(0,0,0,0.7);
    border-radius: .25em;
	
	font-size: 16pt;
	font-weight: bold;
	
	text-align: center;
	vertical-align:middle;
	display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.side .md h4 a:nth-of-type(1) {
	left: $top-links-offset1;
    background-image:url(%%Link1%%);
}
.side .md h4 a:nth-of-type(1):hover:before {
    content: $vn-link-1-text;
}
.side .md h4 a:nth-of-type(2) {
    left: $top-links-offset2; 
    background-image:url(%%Link2%%);
}
.side .md h4 a:nth-of-type(2):hover:before {
    content: $vn-link-2-text;
}
.side .md h4 a:nth-of-type(3) {
    left: $top-links-offset3; 
    background-image:url(%%Link3%%);
}
.side .md h4 a:nth-of-type(3):hover:before {
    content: $vn-link-3-text;
}
.side .md h4 a:nth-of-type(4) {
    left: $top-links-offset4; 
    background-image:url(%%Link4%%);
}
.side .md h4 a:nth-of-type(4):hover:before {
    content: $vn-link-4-text;
}
.side .md h4 a:nth-of-type(5) {
    left: -80.5%; /* remove the - if you want to have 5 buttons, yes this is lazy af and awful but it works*/
    background-image:url(%%Link5%%);
}
.side .md h4 a:nth-of-type(5):hover:before {
    content: $vn-link-5-text;
}