#header {
	height: 150px;
	border-bottom:1px solid;
}

/*#header{
  height:150px;
  border-bottom:1px solid;
  background:url(%%banner%%) 0 0; 
  overflow:visible!important;
  -webkit-animation: scrollLeft 180s linear infinite;
  -moz-animation: scrollLeft 180s linear infinite;
  animation: scrollLeft 180s linear infinite; 
}

*/
.pagename a { font-size:14px; color:white; padding-right:50px;  text-shadow: 0px 0px 2px black; }
.pagename a { color:black; text-shadow: 0 0 5px #FFFFFF; font-size: larger;}

#header-bottom-left {
    margin-top: 84px;
}

/*---------------------------|
|                                    |
|  Random Headers       |
|  Thanks /u/DEADB33F |
|---------------------------*/
/* Random image container */
input[name=uh] ~ a:after {
    position: absolute;
    top: -19px;
    right: 0px;
	// left:0px;
    z-index: -2;
	width: 100vw;
	background-size: cover;
	background-position: 100% 100%;
	content: '';
	height: 150px;
}

/* Overlay container to stop the random text/image being clickable */
.user span:before {
    position: absolute;
    top: -19px;
    right: 0px;
    width: 100vw;
    height: 150px;
    z-index: -1;
    content: " ";
}
.user .userkarma {
    cursor: default !important;
}

/* Up to 36 random images */
/* "value" matched to last digit in .logout "uh" number */
/* Max 36 images 0,1,2,...,7,8,9,a,b,c,...x,y,z */

input[name=uh][value^="0"] ~ a:after,
input[name=uh][value^="1"] ~ a:after,
input[name=uh][value^="2"] ~ a:after,
input[name=uh][value^="3"] ~ a:after,
input[name=uh][value^="4"] ~ a:after,
input[name=uh][value^="5"] ~ a:after,
input[name=uh][value^="6"] ~ a:after,
input[name=uh][value^="7"] ~ a:after,
input[name=uh][value^="8"] ~ a:after,
input[name=uh][value^="9"] ~ a:after,
input[name=uh][value^="a"] ~ a:after,
input[name=uh][value^="b"] ~ a:after,
input[name=uh][value^="c"] ~ a:after,
input[name=uh][value^="d"] ~ a:after,
input[name=uh][value^="e"] ~ a:after,
input[name=uh][value^="f"] ~ a:after,
input[name=uh][value^="g"] ~ a:after,
input[name=uh][value^="h"] ~ a:after {
	background-image: url(%%banner1%%)
}
input[name=uh][value^="i"] ~ a:after,
input[name=uh][value^="j"] ~ a:after,
input[name=uh][value^="k"] ~ a:after,
input[name=uh][value^="l"] ~ a:after,
input[name=uh][value^="m"] ~ a:after,
input[name=uh][value^="n"] ~ a:after,
input[name=uh][value^="o"] ~ a:after,
input[name=uh][value^="p"] ~ a:after,
input[name=uh][value^="q"] ~ a:after,
input[name=uh][value^="r"] ~ a:after,
input[name=uh][value^="s"] ~ a:after,
input[name=uh][value^="t"] ~ a:after,
input[name=uh][value^="u"] ~ a:after,
input[name=uh][value^="v"] ~ a:after,
input[name=uh][value^="w"] ~ a:after,
input[name=uh][value^="x"] ~ a:after,
input[name=uh][value^="y"] ~ a:after,
input[name=uh][value^="z"] ~ a:after {
    background-image: url(%%banner2%%)
}
