.side .md h3 a {
    right: 6px;
    list-style: none;
    position: absolute;
    top: 48px; 
    z-index: 200;
    background-color: #5DA270;
    border: 1px solid #418052;
    text-shadow: 0px 2px 0px #265532;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    padding: 1px 8px 1px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 15px;
    width: relative;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    animation: slowAppear 1000ms ease-in-out;
    -webkit-animation: slowAppear 1000ms ease-in-out;
}
.side .md h3 a:hover {
    background-color:#569768;
    border: 1px solid #366B44;
}

.side .md h3 a:before {
    margin:0 0px 0 0px;
    padding:0px 4px 0px 0px;
    content:"Rule change - Add VNDB links to VN announcement posts"; 
    color:#fff;
    font-weight:normal;
}