.res-nightmode .side p {
 color:white!important;
}
.res-nightmode .content > .sitetable > .comment,
.res-nightmode .commentarea > .sitetable > .comment,
.res-nightmode .commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment,
.res-nightmode .commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment,
.res-nightmode .commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment,
.res-nightmode .commentarea > .sitetable > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment > .child > .listing > .comment,
.res-nightmode .thing, .res-nightmode .comment, .res-nightmode .side div, .res-nightmode .sidecontentbox,
.res-nightmode .side .content  {
  background:black!important;
}
.res-nightmode blockquote p {
  color:#bbbbbb;
}