
/* flair names **/
     
.author[href$="/gambs"]::after{
    margin-left:0.5em; content: "Ai Amu Za Boon Obu Mai Soodo"; color:#ee1111;
}
.author[href$="/insanityissexy"]::after{
 color: #B193D0;margin-left:2px;
 content: "Certified Eroge Connaisseuse";
 background:url(%%Heads%%) no-repeat 0 -60px;
 padding-left:18px; padding-bottom:2px; 
}
.author[href$="/Kowzz"]::after {
 color:#FE9A2E; margin-left:0.5em; content:"Waifu Wars Armsdealer";  
}
.author[href$="/The_Bunny_Advocate"]::after{
 margin-left:2px; content:"Witch of flairs"; color:#9f051b;
 background:url(%%Heads%%) no-repeat 0 -20px;
 padding-left:18px; padding-bottom:2px; 
}
.author[href$="/funwithgravity"]::after{
 margin-left:1px; content:"would never lie to anyone"; color:#3f3c54;
 background:url(%%Heads%%) no-repeat 0 0;
 padding-left:20px; padding-bottom:2px; 
}
.author[href$="/Cornetto_Man"]::after{
 margin-left:2px; content: "Unlimited Moe Works"; color:#ff783d;
 background:url(%%Heads%%) no-repeat 0 -40px;
 padding-left:18px; padding-bottom:2px; 
}
.author[href$="/Avebone"]::after{
 margin-left:1px; content:"Ultimate Adventersaurus"; color:#4a95e6;
 background:url(%%Heads%%) no-repeat 0 -100px;
 padding-left:20px; padding-bottom:2px; 
}
.author[href$="/ctom42"]::after{
  margin-left:0.5em; color:blue; content:"Detective's Authority";
}
.submitter[href$="/ctom42"]:after {
 color:white;
}
.author[href$="/Ewig_Custos"]::after{
 margin-left:0.5em; color:#6C5614; content:"Official grumbler";
}
.author[href$="/demeteloaf"]::after {
 color: #4f2154; margin-left:0.5em; content: "Touch Fluffy Tail";
}
.author[href$="/falafel_eater"]::after{
 color: #880000; margin-left:0.5em; content: "completely sane";
}
.author[href$="/aspiration"]::after{
 color: #33ADFF; margin-left:0.5em; content: "Certified insanityissexy Connoisseur";
}
.author[href$="/mdzjdz"]::after{
 color: #000066; margin-left:0.5em; content: "Resident Reviewer";
}
.author[href$="/AlphaQRough"]::after{
 margin-left:0.5em; content: "has shit taste"; color:#ee1111;
}
.author[href$="/LeafCascade"]::after{
 margin-left:0.5em; color:#9ED6FF; content:"Moege Exterminator";
}
.author[href$="/8cccc9"]::after{
 margin-left:0.5em; color:#135653; content:"Western Gemseeker";
}
.author[href$="/Storm-Crow"]::after{
 margin-left:0.5em; color:rgb(81, 74, 173); content:"Queen Bitch";
}
.author[href$="/Arcanus44"]::after{
 margin-left:0.5em; color:#43b581; content:"Socialite Extraordinaire";
}
.author[href$="/Fuwante0"]::after{
 margin-left:0.5em; color:#efbf17; content:"The Himawari Man";
}
.author[href$="/Vladz0r"]::after{
 margin-left:0.5em; color:#FF69B4; content:"Kyousuke-con";
}
.author[href$="/ConfuzzledKoala"]::after{
 margin-left:0.5em; color:#c40000; content:"Vanilla Shit";
}

@keyframes rainbow {0%{color:red}14%{color:orange}28%{color:yellow}42%{color:green}57%{color:blue}71%{color:indigo}86%{color:violet}100%{color:red}}
.author[href$="/riot-sugar"]:not(.moderator)::after{font-weight:bold;margin-left:0.5em; animation: rainbow 8s infinite}
.author[href$="/riot-sugar"]::after{content:"Queer Mahou Shoujo";animation:inherit}

.author[href$="/Shotgun_Diplomacy"]::before{ content:"Shitgun_Diplomacy"; font-size:x-small;}
.author[href$="Shotgun_Diplomacy"] { font-size:0px; }
/*.author[href$="/ctom42"]::before{ content:"Ryuukishi42"; font-size:x-small;}
.author[href$="ctom42"] { font-size:0px; }*/

.author[href$="/AutoModerator"]::before{
 content:"Automod-chan"; color:green; font-size:x-small;
}
.side .author[href$="/AutoModerator"]::before, .side .author[href$="/AutoModerator"]::after{
 font-size:small;
}
.author[href$="/AutoModerator"] { font-size:0px; }
.author[href$="/AutoModerator"]::after{
    margin-left:0em;padding:0 0.25em;color:#814F7F;
    content:"Never Noticed By Senpai";
    background:url(%%Heads%%) no-repeat 0 -80px;
    padding-left:28px; padding-bottom:2px;
    font-size:x-small;
}