#header-img-a { 
    margin-left:10px;
}

#header-img-a:before {
    /*background:url(%%automod%%);*/
    content:"";    
    position:absolute;
    top:127px; left:4px;
    width:39px; height:24px;
}

#header-img-a:hover:before {
    background-position: 0 24px;
}