a[href="#s"], a[href="/s"]{
 cursor: text;
 color: black;
 padding-left: 24px;
 background:url(%%icon-spoiler%%) no-repeat top left #CCC;
}
a[href="#s"]:hover, a[href="#s"]:active, a[href="/s"]:hover, a[href="/s"]:active{
 color: #666666;
}
a[href="#s"]::after, a[href="/s"]::after{
 content: attr(title);
 background: #CCC;
 color: #CCC;
 padding: 0 0.1em 0 0.5em;
 visibility: visible;
}
a[href="#s"]:hover::after, a[href="#s"]:active::after, a[href="/s"]:hover::after, a[href="/s"]:active::after{
 color: black;
 transition: color, 0.5s;
}