.submit  .formtabs-content #title-field:before {
 content: "FLAIR LINK: Do NOT type [crowdfund] or [spoilers] in the post title; select the post flair AFTER you make the post. See the sidebar for details.";
  width:494px;
  padding:2px;
  background:Orange;
  display:block;
  text-align:center;
  border:1px solid;
  border-color:#A99;
  font-size:small;
  font-weight:bold;
}

.submit  .formtabs-content #text-field:before {
  content: "Questions should be asked in the stickied Question Thread. See the rules for details.";
  width:494px;
  padding:2px;
  background:LightGreen;
  display:block;
  text-align:center;
  border:1px solid;
  border-color:#A99;
  font-size:small;
}