.sidebox.submit:hover:before { 
    position: fixed; 
    display: block; 
    top: 0; 
    text-align: center; 
    background: crimson; 
    color: #fff; 
    z-index: 1000; 
    padding: 25px 0; 
    width: 100%; 
    left: 0; 
    font-size: 30px; 
    font-weight: normal; 
    border: 3px solid black;
    content: "Questions belong in the stickied Question Thread." 
}