@import "_config";

body {
    background:#F0F1F3;
	font-family: verdana,arial,helvetica,"MS PMincho",sans-serif;
}

/*@import "css/_header_rules";*/
/*@import "css/_contest_advertisement";*/
@import "css/_current_discussions";
@import "css/_snoo_replacement";
@import "css/_contact_mods_button";
@import "css/_top_buttons_dropdown";
@import "css/_res_nightmode";
@import "css/_comment_style";
@import "css/_submit_post_warnings";
@import "css/_header";
@import "css/_discussion_advert";

/* maybe this goes in spoiler idk */
.thumbnail { display:none; }

@import "css/_spoiler";
@import "css/_linkflair";
@import "css/_submit_warning";
@import "css/_comment_faces";
@import "css/_uminekoshit";
@import "css/_sidebar_image";
//@import "css/_retarded_circlejerk";
//@import "css/_flair";
@import "css/_linkflair_automod";
//@import "css/_flair_positions";